openapi: 3.1.0
info:
  title: Sitecore CDP REST Audit Incremental Feed API
  description: The Sitecore CDP REST API provides synchronous access to retrieve, create, update, and delete data stored in Sitecore Customer Data Platform. It exposes guest profiles, orders, order items, order contacts, order consumers, and data extensions through standard HTTP methods. Developers use this API to build integrations that read or write customer data programmatically, enabling use cases such as audience segmentation, data enrichment, and reporting. Authentication uses HTTP Basic Auth with a client key and API token obtained from the CDP instance settings. Regional server endpoints must be used based on the CDP instance's geographic deployment.
  version: v2.1
  contact:
    name: Sitecore Support
    url: https://www.sitecore.com/support
  termsOfService: https://www.sitecore.com/legal/terms-of-service
servers:
- url: https://api-engage-eu.sitecorecloud.io
  description: EU Production Server
- url: https://api-engage-us.sitecorecloud.io
  description: US Production Server
- url: https://api-engage-ap.sitecorecloud.io
  description: Asia-Pacific Production Server
- url: https://api-engage-jpe.sitecorecloud.io
  description: Japan Production Server
security:
- basicAuth: []
tags:
- name: Incremental Feed
  description: Endpoints for pushing real-time product catalog updates to Sitecore Discover without requiring a full feed re-index. Supports adding, updating, and removing products incrementally.
paths:
  /api/feed/v1/products/incremental/update:
    post:
      operationId: updateProductsFeed
      summary: Incrementally update products
      description: Pushes real-time product catalog updates to the Sitecore Discover index without requiring a full feed re-process. Supports adding new products, updating existing product attributes, and removing products from the Discover catalog.
      tags:
      - Incremental Feed
      parameters:
      - $ref: '#/components/parameters/customerKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncrementalFeedRequest'
      responses:
        '200':
          description: Incremental product update accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request body or parameters are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    FeedUpdateResponse:
      type: object
      description: Response from a product feed update operation
      properties:
        status:
          type: string
          description: The status of the feed update request
          enum:
          - accepted
          - failed
        processed:
          type: integer
          description: The number of products successfully processed
        failed:
          type: integer
          description: The number of products that failed to process
        errors:
          type: array
          description: List of error details for failed products
          items:
            type: string
    IncrementalFeedRequest:
      type: object
      description: Request body for incrementally updating the product catalog
      required:
      - operation
      - products
      properties:
        operation:
          type: string
          description: The operation to perform on the products
          enum:
          - add
          - update
          - delete
        products:
          type: array
          description: The products to add, update, or delete
          items:
            $ref: '#/components/schemas/FeedProduct'
    ErrorResponse:
      type: object
      description: An error response body
      properties:
        message:
          type: string
          description: A human-readable error message
        statusCode:
          type: integer
          description: The HTTP status code
        errors:
          type: array
          description: List of detailed error messages
          items:
            type: string
    FeedProduct:
      type: object
      description: A product record for the Discover catalog feed
      required:
      - id
      properties:
        id:
          type: string
          description: The unique identifier of the product
        name:
          type: string
          description: The display name of the product
        sku:
          type: string
          description: The product SKU
        description:
          type: string
          description: The product description
        url:
          type: string
          description: The URL of the product detail page
          format: uri
        image_url:
          type: string
          description: The URL of the product image
          format: uri
        price:
          type: number
          description: The base price of the product
          format: float
        final_price:
          type: number
          description: The final selling price after discounts
          format: float
        brand:
          type: string
          description: The brand name
        category:
          type: string
          description: The primary product category
        in_stock:
          type: boolean
          description: Whether the product is currently in stock
  parameters:
    customerKey:
      name: customerKey
      in: query
      description: The customer key identifying the Sitecore Discover account. Found in the Customer Engagement Console under Developer Resources > API Access.
      required: false
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using a client key as the username and an API token as the password. Credentials are obtained from Sitecore CDP Settings > API access.
externalDocs:
  description: Sitecore CDP REST API Documentation
  url: https://doc.sitecore.com/cdp/en/developers/api/rest-apis.html
