openapi: 3.2.0
info:
  title: Sitecore Personalize REST Templates API
  description: The Sitecore Personalize REST API allows developers to programmatically interact with Sitecore Personalize experiments, decisioning flows, connection configurations, and template assets. It supports retrieving, creating, updating, and deleting personalization resources through standard HTTP methods. Developers use this API to integrate decisioning logic into server-side applications, trigger personalization flows programmatically, manage personalization assets as part of automated deployment pipelines, and connect to external systems via configurable connection objects. The API base URL is environment-specific and is determined by the region of the Sitecore Personalize instance.
  version: v1
  contact:
    name: Sitecore Support
    url: https://www.sitecore.com/support
  termsOfService: https://www.sitecore.com/legal/terms-of-service
servers:
- url: https://api.boxever.com
  description: Sitecore Personalize Production Server
security:
- apiKeyAuth: []
tags:
- name: Templates
  description: Endpoints for managing web and decision templates used to define the visual and logic components of personalization experiences within flows.
paths:
  /v1/templates:
    get:
      operationId: listTemplates
      summary: List templates
      description: Retrieves a paginated collection of all templates configured in the Sitecore Personalize instance. Templates define the visual or logic components used within personalization flows.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sortBy'
      responses:
        '200':
          description: A paginated list of templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTemplate
      summary: Create a template
      description: Creates a new template in Sitecore Personalize. Templates contain HTML, CSS, and JavaScript that define the visual presentation or decision logic of a personalization experience.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/templates/{id}:
    get:
      operationId: getTemplate
      summary: Get a template
      description: Retrieves a specific template by its unique identifier. Returns the full template including its code, revision history, and status.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateTemplate
      summary: Update a template
      description: Performs a full replacement update of a template. A new revision is created upon each update.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    resourceId:
      name: id
      in: path
      description: The unique identifier of the resource
      required: true
      schema:
        type: string
    pageOffset:
      name: pageOffset
      in: query
      description: Number of records to skip for pagination
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    sortBy:
      name: sort
      in: query
      description: Field name and direction to sort results by (e.g., name:asc)
      required: false
      schema:
        type: string
    pageSize:
      name: pageSize
      in: query
      description: Number of items to return per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  schemas:
    ErrorResponse:
      type: object
      description: An error response body
      properties:
        message:
          type: string
          description: A human-readable error message
        statusCode:
          type: integer
          description: The HTTP status code
        errors:
          type: array
          description: List of detailed error messages
          items:
            type: string
    Template:
      type: object
      description: A template defining visual or logic components of a personalization experience
      properties:
        ref:
          type: string
          description: The unique identifier of the template
        name:
          type: string
          description: The display name of the template
        type:
          type: string
          description: The template type
          enum:
          - WEB
          - DECISION
        revision:
          type: integer
          description: The current revision number of the template
        html:
          type: string
          description: The HTML markup of the template
        css:
          type: string
          description: The CSS styles for the template
        javascript:
          type: string
          description: The JavaScript code for the template
        createdAt:
          type: string
          description: The ISO 8601 timestamp when the template was created
          format: date-time
        modifiedAt:
          type: string
          description: The ISO 8601 timestamp when the template was last modified
          format: date-time
    CreateTemplateRequest:
      type: object
      description: Request body for creating or updating a template
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: The display name of the template
        type:
          type: string
          description: The type of template
          enum:
          - WEB
          - DECISION
        html:
          type: string
          description: The HTML markup of the template
        css:
          type: string
          description: The CSS styles for the template
        javascript:
          type: string
          description: The JavaScript code for the template
    TemplateListResponse:
      type: object
      description: A paginated list of templates
      properties:
        items:
          type: array
          description: The templates for the current page
          items:
            $ref: '#/components/schemas/Template'
        total:
          type: integer
          description: Total number of templates
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: The request body or parameters are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication. Provide the API key in the Authorization header obtained from the Sitecore Personalize instance configuration.
externalDocs:
  description: Sitecore Personalize Developer Documentation
  url: https://doc.sitecore.com/personalize/en/developers/api/index-en.html
