openapi: 3.1.0
info:
  title: Sitecore CDP REST Audit Jobs API
  description: The Sitecore CDP REST API provides synchronous access to retrieve, create, update, and delete data stored in Sitecore Customer Data Platform. It exposes guest profiles, orders, order items, order contacts, order consumers, and data extensions through standard HTTP methods. Developers use this API to build integrations that read or write customer data programmatically, enabling use cases such as audience segmentation, data enrichment, and reporting. Authentication uses HTTP Basic Auth with a client key and API token obtained from the CDP instance settings. Regional server endpoints must be used based on the CDP instance's geographic deployment.
  version: v2.1
  contact:
    name: Sitecore Support
    url: https://www.sitecore.com/support
  termsOfService: https://www.sitecore.com/legal/terms-of-service
servers:
- url: https://api-engage-eu.sitecorecloud.io
  description: EU Production Server
- url: https://api-engage-us.sitecorecloud.io
  description: US Production Server
- url: https://api-engage-ap.sitecorecloud.io
  description: Asia-Pacific Production Server
- url: https://api-engage-jpe.sitecorecloud.io
  description: Japan Production Server
security:
- basicAuth: []
tags:
- name: Jobs
  description: Endpoints for managing background job targets including retrieval, creation, update, and deletion of job configurations.
paths:
  /jobs:
    get:
      operationId: listJobs
      summary: List jobs
      description: Retrieves a list of background job targets configured in the Content Hub instance. Jobs handle long-running operations such as asset processing, reporting, and data exports.
      tags:
      - Jobs
      parameters:
      - name: skip
        in: query
        description: Number of jobs to skip for pagination
        required: false
        schema:
          type: integer
          minimum: 0
      - name: take
        in: query
        description: Maximum number of jobs to return
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Job:
      type: object
      description: A background job target in Content Hub
      properties:
        id:
          type: integer
          description: The numeric identifier of the job
        identifier:
          type: string
          description: The string identifier of the job target
        status:
          type: string
          description: The current status of the job
          enum:
          - Queued
          - Running
          - Completed
          - Failed
        createdOn:
          type: string
          description: The ISO 8601 timestamp when the job was created
          format: date-time
        completedOn:
          type: string
          description: The ISO 8601 timestamp when the job completed
          format: date-time
    ErrorResponse:
      type: object
      description: An error response body
      properties:
        message:
          type: string
          description: A human-readable error message
        statusCode:
          type: integer
          description: The HTTP status code
        errors:
          type: array
          description: List of detailed error messages
          items:
            type: string
    JobListResponse:
      type: object
      description: A paginated list of job configurations
      properties:
        items:
          type: array
          description: The job targets
          items:
            $ref: '#/components/schemas/Job'
        totalCount:
          type: integer
          description: Total number of jobs
  responses:
    Unauthorized:
      description: Authentication token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using a client key as the username and an API token as the password. Credentials are obtained from Sitecore CDP Settings > API access.
externalDocs:
  description: Sitecore CDP REST API Documentation
  url: https://doc.sitecore.com/cdp/en/developers/api/rest-apis.html
